<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="serversocket" class="java.net.ServerSocket" scope="prototype">
              <constructor-arg value="3456"/>
       </bean>

       <bean id="server" class="task008.classes.Server" scope="prototype"/>

       <bean id="start" class="task008.classes.Start" scope="prototype"/>

</beans>