.main {
	width: 1350px;
	display: inline-block;
	background-color: white;
	font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
}
.learnmore {
	color: black;
	margin-left: 0;
}
.learnmore a {
	text-decoration: none;
	color: black;
	margin-left: 250px;
}
.learnmore a:hover {
	text-decoration: underline;
}
.left_part {
	float: left;
	margin-left: 0;
	width: 400px;
}
body {
	background: white;
}