table {
    display: flex;
    /*border: 1px solid black;*/
    font-size: 16pt;
    margin-top: 50px;
    /*padding: 12px;*/
    caption-side: top;
    border-radius: 8px;
}
table tr {
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    height: 70px;
}

.prices_table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 30px;
    text-align: center;
}
table tr td, table tr th {
    width: 400px;
    border: none;
}
