input.instr_settings_submit {
    margin-top: 15px;
    height: 50px;
    width: 74.85%;
    margin-left: 220px;

}
textarea {
    resize: vertical;
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;
    width: 74.85%;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 6px;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    font-size: 16pt;
    overflow: auto;
}
.description_text {
    height: 150px;
}

.awards_text {
    height: 90px;
}
.qualification_text {
    height: 100px;
}
.experience_input {
    padding-left: 6px;
    border-radius: 6px;
}
.wrong_date_msg {
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 220px;
    width: 74.85%;
    /*text-align: center;*/
}
