.settings_main {
    width: 85%;
    height: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 16pt;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
}
.settings_inline {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.settings_inline label {
    width: 200px;
}
.settings_photo {
    float: left;
    width: 300px;
    height: 300px;
}
.settings_photo img {
    width: 300px;
    height: 300px;
}
.photo_form {
    width: 60%;
    margin-left: 100px;
    margin-top: 100px;
}
.photo_form .submit {
    margin-left: 53px;
}
form {
    float: left;
    width: 100%;
}
span {
    width: 200px;
}
.label_div {
    margin-right: 10px;
    width: 200px;
    float: left;
}
input[type=text] {
    width: 74.85%;
    height: 40px;
    border: 1px solid #ccc;
    padding: 2px;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    font-size: 16pt;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}
input[type=password] {
    width: 24%;
    height: 40px;
    border: 1px solid #ccc;
    padding: 2px;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    font-size: 16pt;
    box-sizing: border-box;
    margin-left: 10px;
}
input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #ccc;
}
input[type=file] {
    width: 300px;
    vertical-align: middle;
    margin-top: 0;
    margin-left: 100px;
    text-align: center;
    font-size: 13pt;
    height: 300px;
    padding-top: 12%;
    box-sizing: border-box;
    float: left;
}
input[type=submit] {
    width: 74.85%;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
    font-size: 14pt;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    margin-left: 220px;
    margin-top: 10px;
}
input[type=submit]:hover {
    border: 2px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.hrefs {
    float: left;

}
.hrefs_a {
    text-decoration: none;
    color: black;
    font-size: 19pt;
    margin-top: 15px;
    margin-left: 70px;
}
.hrefs_a:hover {
    text-decoration: underline;
}