.trainers_main {
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    color: black;
    font-size: 18pt;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.trainers_div {
    padding: 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
}

h1 {
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    color: black;
    font-size: 25pt;
    text-align: center;
}

.trainer_line {
    display: inline-block;
}

.trainer_one_line {
    display: flex;
}
.trainer_one_line a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 50px;
}
.trainer_one_line a:hover {
    text-decoration: underline;
}

.trainer_info {
    float: left;
    color: black;
    margin-left: 70px;
}

.trainer_buttons {
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}
.trainer_buttons input[type=submit] {
    width: 200px;
    height: 40px;
    /*background-color: #F1F7F7;*/
    background-color: white;
    font-size: 14pt;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    border-radius: 8px;
    /*border: 1px solid #ccc;*/
    border: 1px solid black;
    margin-top: 5px;
}
.trainer_buttons input[type=submit]:hover {
    border: 2px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.check_href {
    color: black;

}