.trainers_main {
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    color: black;
    font-size: 18pt;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.trainers_div {
    padding: 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
}

h1 {
    font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    color: black;
    font-size: 25pt;
    text-align: center;
}

.trainer_line {
    display: inline-block;
}

.trainer_one_line {
    display: flex;

}
.trainer_one_line a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 50px;
}
.trainer_one_line a:hover {
    text-decoration: underline;
}