#failure {
    -fx-text-fill: red;
    -fx-font-size: 16px;
}

#login {
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
}

#header, #welcome {
    -fx-font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
}
#password {
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
}

#panel {
    -fx-background-color: #F1F7F7;
}

#login_btn {
    -fx-min-width: 400px;
    -fx-font-size: 16px;
    -fx-font-family: 'Comic Sans', 'Comic Sans MS', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
}

#login_btn:hover {
    -fx-border-color: black;
    -fx-border-width: 2px;

}

